@import 'src/styles/variables';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  li {
    margin-top: 1.875rem;
  }

  a {
    color: $green;
  }

  .row {
    display: flex;
    align-items: center;

    & > * {
      margin-right: 1rem;
    }
  }

  .currentFileContainer {
    background: #dddddd;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;

    .name {
      margin-right: 1rem;
    }

    .cross {
      font-size: 2rem;
      font-weight: bold;
      transform: rotate(45deg);
      cursor: pointer;
      line-height: 0.25rem;
    }
  }

  .previewCol {

    .previewWrapper {
      width: 100%;
      position: relative;

      img {
        width: calc(100% - 2rem);
        margin: 0 1rem;
      }

      .legendContainer {
        position: absolute;
        top: 0;
        left: 100%;
        white-space: nowrap;
        height: 100%;

        .underline {
          text-decoration: underline;
          margin-bottom: 0.5rem;
          text-decoration-style: dashed;

          &.danger {
            text-decoration-color: red;
          }

          &.shadeZone {
            position: absolute;
            left: 0;
            color: rgb(87, 255, 132)
          }
        }
      }
    }
  }
}

.highlight {
  color: $green;
}

.errorText {
  margin-bottom: 1rem;
}
