@import 'src/styles/variables';

.wrapper {
  border: 1px solid #000;
  width: 100%;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  position: relative;

  .bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: width 15s ease-in;
    background: $green;
    z-index: 0;
  }

  .text {
    z-index: 1;
    position: relative;
  }
}
