@import "src/styles/variables";

.wrapper {
  &.primary {
    color: $black;
  }

  &.secondary {
    color: $gray-3;
  }

  &.highlight {
    color: $green;
  }

  &.danger {
    color: $red;
  }

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }
}
