.wrapper {
  padding-top: 2rem;

  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 10px;
  }

  li {
    width: 100%;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  label {
    margin-top: 5px;
    font-weight: 400;
    padding-left: 0;
    width: 16.6%;
    display: inline-block;
    max-width: 100%;
  }

  .adviceText {
    color: #aaa;
  }

  .buttonGroup {
    padding-right: 0;
    padding-left: 18px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 83.3%;
  }
}
