@import "src/styles/variables";

.main {
  min-height: 100%;

  .header {
    height: 8.125rem;
    background: $gray;
    border-bottom: 1px solid $gray-2;
  }

  .content {
    min-height: calc(100vh - 10.75rem);
    width: 73.125rem;
    margin: 0 auto;
  }

  .footer {
    height: 2.625rem;
    background: $gray;
    border-top: 1px solid $gray-2;
  }
}
