.wrapper {
  width: 120px;
  margin-left: 10px;

  .numberInput {
    display: table;

    input {
      height: 34px;
      font-size: 23px;
      font-weight: 700;
      color: rgb(21, 178, 107);
      text-align: center;
      border: 1px solid rgb(155, 155, 155);
      padding: 0;
      width: 100%;
    }
  }
}




