.overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(#17141e, 0.7);
  display: flex;
  flex-flow: column;
}

.modal {
  margin: auto;
  outline: none;
  overflow: hidden;
  background: #fff;
  padding: 2.125rem;
  border-radius: 0.5rem;
}
