@import 'src/styles/variables';

.wrapper {
  border: none;
  outline: none;
  max-width: 250px;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  display: block;
  cursor: pointer;

  &.focus {
    outline: none;
  }

  &.primary {
    background: $green;
    color: $white;
  }
}
